---
apiVersion: v1
kind: ConfigMap
metadata:
  name: elastic-otelcol-agent
  namespace: default
  labels:
    app.kubernetes.io/name: otelcol

data:
  relay: |
    connectors:
      spanmetrics: {}
    exporters:
      debug: {}
      otlp/elastic:
        endpoint: ${env:ELASTIC_APM_ENDPOINT}
        compression: none
        headers:
          Authorization: Bearer ${env:ELASTIC_APM_SECRET_TOKEN}
    extensions:
    processors:
      batch: {}
    # Transforming span names for easier identification. See: https://github.com/open-telemetry/opentelemetry-demo/issues/1676
    transform:
      error_mode: ignore
      trace_statements:
        - context: span
          conditions:
            - IsString(attributes["http.url"])
          statements:
            - merge_maps(attributes, URL(attributes["http.url"]), "upsert")
            # This pattern should correctly capture the first one or two segments of a URL and assign them to the short_url named group.
            - merge_maps(attributes, ExtractPatterns(attributes["url.path"], "^(?P<short_url>\\/[^\\/]+(\\/[^\\/]+)?)"), "upsert")
            - set(name, attributes["short_url"])
      resource:
        attributes:
          - key: deployment.environment
            value: "opentelemetry-demo"
            action: upsert
    receivers:
      httpcheck/frontendproxy:
        targets:
        - endpoint: http://example-frontendproxy:8080
      otlp:
        protocols:
          grpc:
            endpoint: ${env:MY_POD_IP}:4317
          http:
            cors:
              allowed_origins:
              - http://*
              - https://*
            endpoint: ${env:MY_POD_IP}:4318
    service:
      extensions:
      pipelines:
        logs:
          exporters:
          - debug
          - otlp/elastic
          processors:
          - batch
          - resource
          receivers:
          - otlp
        metrics:
          exporters:
          - otlp/elastic
          - debug
          processors:
          - batch
          - resource
          receivers:
          - httpcheck/frontendproxy
          - otlp
          - spanmetrics
        traces:
          exporters:
          - otlp/elastic
          - debug
          - spanmetrics
          processors:
          - batch
          - transform
          - resource
          receivers:
          - otlp
      telemetry:
        metrics:
          address: ${env:MY_POD_IP}:8888

